<div class="mb-3">
  <label class="form-label">Please upload MP4 file</label>
  <input
    class="form-control"
    type="file"
    #mp4FileInput
    (change)="onFileChange()"
  >
</div>

<div class="mb-3 d-flex align-content-center button-block">
  <span
    class="btn btn-primary"
    (click)="onConvertButtonClick()"
    [class.disabled]="!isFileValid() || isConvertingInProgress()"
  >
    Convert
  </span>

  @if(linkToDownload() !== null) {
    <a target="_blank" [href]="linkToDownload()">Download GIF</a>
  }

</div>




